<script type="text/javascript">
    // Register the Access Control node
    RED.nodes.registerType('access-control', {
        category: 'Privacy Nodes',
        color: '#D9843B',
        defaults: {
            SpecifyTyoeofData: { value: "Data Subject" },
            AccessControl: { value: [] },
            Permissions: { value: [] },
            name: { value: "Access Control" }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-lock",
        label: function() {
            return this.name || "Access Control";
        },
        oneditprepare: function() {
            // Restore the selected data type
            $("#node-input-SpecifyTyoeofData").val(this.SpecifyTyoeofData);

            // Restore the selected password types
            if (Array.isArray(this.AccessControl)) {
                this.AccessControl.forEach(function(passwordType) {
                    $(`input[name='access-control-password'][value='${passwordType}']`).prop("checked", true);
                });
            }

            // Restore the selected permissions
            if (Array.isArray(this.Permissions)) {
                this.Permissions.forEach(function(permission) {
                    $(`input[name='access-control-permission'][value='${permission}']`).prop("checked", true);
                });
            }
        },
        oneditsave: function() {
            // Save the selected data type
            this.SpecifyTyoeofData = $("#node-input-SpecifyTyoeofData").val();

            // Save the selected password types
            let selectedPasswords = [];
            $("input[name='access-control-password']:checked").each(function() {
                selectedPasswords.push($(this).val());
            });
            this.AccessControl = selectedPasswords;

            // Save the selected permissions
            let selectedPermissions = [];
            $("input[name='access-control-permission']:checked").each(function() {
                selectedPermissions.push($(this).val());
            });
            this.Permissions = selectedPermissions;
        }
    });
</script>

<script type="text/html" data-template-name="access-control">
    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input style="width: 70%" type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-SpecifyTyoeofData"><i class="fa fa-dot-circle-o"></i> Who </label>
        <select style="width: 70%" id="node-input-SpecifyTyoeofData" placeholder="Access Control">
            <option value="Data Subject">Data Subject</option>
            <option value="Controller">Controller</option>
            <option value="Processor">Processor</option>
            <option value="Third Party">Third Party</option>
        </select>
    </div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-AccessControl"><i class="fa fa-book fa-fw"></i> Password Types </label>
        <div style="width: 70%; display: flex; flex-wrap: wrap;">
            <label style="width: 100%;"><input type="checkbox" id="Alphanumeric_Password" name="access-control-password" value="Alphanumeric Password"> Alphanumeric Password</label>
            <label style="width: 100%; "><input type="checkbox" id="Biometric_Password" name="access-control-password" value="Biometric Password"> Biometric Password</label>
            <label style="width: 100%;"><input type="checkbox" id="Token-based_Password" name="access-control-password" value="Token-based Password"> Token-based Password</label>
            <label style="width: 100%;"><input type="checkbox" id="ID-based_Password" name="access-control-password" value="ID-based Password"> ID-based Password</label>
            <label style="width: 100%;"><input type="checkbox" id="Face_Recognition_Password" name="access-control-password" value="Face Recognition Password"> Face Recognition Password</label>
            <label style="width: 100%;"><input type="checkbox" id="Fingerprint_Password" name="access-control-password" value="Fingerprint Password"> Fingerprint Password</label>
        </div>
    </div>

<!-- Tips Box for Authentication -->
<div class="form-row">
    <label style="width: 25%" for="node-input-AccessControl"></label>
    <div style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 70%">
        <strong>Tip:</strong>
    <ul style="padding-left: 20px;">
        <strong>Authentication:</strong> Authenticate a user by selecting the appropriate user type (Data Subject, Controller, Processor, Third Party) and corresponding password types. For example, use a Biometric Password for higher security or an Alphanumeric Password for a balanced mix of security and usability.
    </div>
</div>

    <div class="form-row">
        <label style="width: 25%" for="node-input-AccessControl"><i class="fa fa-book fa-fw"></i> Authorize to </label>
        <div style="width: 70%; display: flex; flex-wrap: wrap;">
            <label style="width: 100%;"><input type="checkbox" id="Read" name="access-control-permission" value="Read"> Read</label>
            <label style="width: 100%; "><input type="checkbox" id="Write" name="access-control-permission" value="Write"> Write</label>
            <label style="width: 100%;"><input type="checkbox" id="Delete" name="access-control-permission" value="Delete"> Delete</label>
            <label style="width: 100%;"><input type="checkbox" id="Download" name="access-control-permission" value="Download"> Download</label>
        </div>
    </div>

<!-- Tips Box for Authorization -->
<div class="form-row">
    <label style="width: 25%" for="node-input-AccessControl"></label>
    <div style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 70%">
    <strong>Tip:</strong>
    <ul style="padding-left: 20px;">
        <li><strong>Authorization: </strong> Authorize a user to perform specific actions such as Read, Write, Delete, or Download. Ensure that permissions are granted based on the principle of least privilege, allowing users only the access necessary to perform their tasks.</li>
        <li><strong>Compliance and Further Help:</strong> Click the Help tab for detailed explanations and compliance with privacy laws by.</li>
    </ul>
</div>
</div>

<script type="text/html" data-help-name="access-control">
    <p>A privacy node ensures that information is processed legitimately and by an authorized party to prevent an activity that could lead to a security breach.</p>

    <h3>Inputs</h3>
    <p>The Access Control node is designed to enforce access control mechanisms based on specified criteria.</p>
    <p>The Access Control node expects the input message to be formatted in a specific way to perform the authorization checks correctly.</p>
    
    <div>Here is an example of how the input message should be structured:
    <pre>{
        "payload": {
            "userType": "Controller",
            "passwordTypes": ["Biometric Password", "ID-based Password"],
            "permissions": ["Read"]
        }
    }
    </pre>
    </div>
    

    <h3>Explination</h3>
    <strong> User's data types:  </strong> 
    <ul>
        <li><strong> Data Subject: </strong> An individual whose personal data is collected and processed.  </li>
        <li><strong> Controller: </strong> An entity that determines the purposes and means of processing personal data. </li>
        <li><strong> Processor: </strong>An entity that processes data on behalf of the controller, following their instructions. </li>
        <li><strong> Third Party: </strong> An entity that interacts with or processes data under certain conditions, often providing additional services or support. </li>
    </ul>
    <strong> Password types: </strong> 
    <ul>
        <li><strong> Alphanumeric Password: </strong>  Uses both letters and numbers for a balanced mix of security and usability.  </li>
        <li><strong> Biometric Password: </strong>  Uses unique biological characteristics like fingerprints or facial features for verification. </li>
        <li><strong> Token-based Password: </strong>  Uses a device to generate secure, one-time passwords synchronized with a server. </li>
        <li><strong> ID-based Password: </strong> Authenticates based on facial features compared to stored templates. </li>
        <li><strong> Face Recognition Password:</strong>  Utilizes facial features of an individual for authentication. </li>
        <li><strong> Fingerprint Password: </strong> Authenticates using a person's unique fingerprint pattern. </li>
     </ul>

     <h3>Demo video</h3>
     <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>
    <h3>Compliance to the Privacy and Data Protection Laws</h3>
    <ul>
        <li><code>Security Principle</code></li>
        <p>Safeguarding procedures must be in place to protect personal information and prevent its loss, misuse, or disclosure.</p>
        <a>Article (5 – A 33) (GDPR)</a>, <a>Principle 7 (PIPEDA)</a>, <a>1798.140 (CCPA)</a>, <a>(App 11 APPs)</a>, <a>Principle 5 (New Zealand Privacy Act)</a>
    </ul>
</script>

<style>
    .form-row {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .form-row select,
    .form-row input[type="text"],
    .form-row input[type="checkbox"] {
        width: auto;
        margin-left: 5px;
    }
</style>
