<script type="text/javascript">
    RED.nodes.registerType('privacy-law-validator',{
        category: 'Privacy Nodes',
        color: '#FFCC66',
        defaults: {
            PrivacyValidator: {value: ""},
            name: {value: "Privacy Law Validator"}
        },
        inputs: 1,
        icon: "font-awesome/fa-balance-scale",
        label: function() {
            return this.name || "Privacy Law Validator";
        }
    });
</script>

<script type="text/html" data-template-name="privacy-law-validator">
    <div class="form-row">
        <label style="width: 25%" for="node-input-name"><i class="fa fa-tag"></i> Name </label>
        <input style="width: 70%" type="text" id="node-input-name" placeholder="Name">
    </div>
    
    <!-- Tips Box -->
    <div class="form-row" style="background-color: #f9f9f9; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
        <strong>Tip:</strong>
        <ul style="padding-left: 20px;">
            <li><strong>Privacy Law Validator:</strong> This node checks the compliance of data with privacy and data protection laws based on the msg.topic.</li>
            <li><strong>Setup:</strong> Connect the privacy law validator node with the received data displaying three indicators: a red circle for privacy issues, yellow for partial compliance, and
                green for full compliance. </li>
            <li><strong>Further Help:</strong> Click the Help tab for detailed explanations. </li>
        </ul>
    </div>
</script>

<script type="text/html" data-help-name="privacy-law-validator">
    <p>This privacy node checks the status of the data it receives to determine if it complies with Privacy and Data Protection laws based on the <code>msg.topic</code>.</p>

    <h3>Details</h3>
    <p>The node displays three different statuses of data using colored circles, each with a specific meaning:
        <ul>
            <li><strong>Red Circle:</strong> Indicates a privacy issue; the received data does not comply with Privacy and Data Protection Laws.</li>
            <li><strong>Yellow Circle:</strong> Indicates partial compliance with Privacy and Data Protection Laws.</li>
            <li><strong>Green Circle:</strong> Indicates full compliance with Privacy and Data Protection Laws.</li>
        </ul>
    </p>

    <h3>Demo video</h3>
    <p>The demo video demonstrates how Canella operates, emphasizing how its features, along with its privacy-preserving components, can educate developers about privacy measures and ensure compliance with data protection laws through real-world scenarios: <a href="https://www.youtube.com/watch?v=7V0q3MyAzCQ&t=48s">Demo Video Link</a> .</p>
</script>
